* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 16px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.container {
    margin-left: auto;
    margin-right: auto;
}

/* Section 1*/
#sec-1{
    background-color: #FFC807;
}
.top{
    height: 10px;
    background-color: #FFC807;
}
#sec-1 nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000;
}
#sec-1 nav ul li{
    padding-left: 10px;
}
#sec-1 nav a {
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
}

#sec-1 nav a:hover {
    background-color: #FFC807;
    padding-top: 5px;
}
#icon {
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
#banner{
    background: url('../images/8.jpg') no-repeat;
    height: 400px;
}
#banner article{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 100px 20px 50px 30px;
}
#banner article h4{
    font-size: 0.9rem;
    padding-bottom: 10px;
    color: #232323;
}
article h1:nth-child(2){
    color: #232323;
    font-size: 2.5rem;
    font-weight: 700;
}
article h1:nth-child(3){
    color: #CD8383;
    font-size: 2.5rem;
    font-weight: 700;
}
.button{
    color: #232323;
    width: 50%;
    border-radius: 25px;
    border-style: none;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Section 2*/
#sec-2{
    background-color: #000;
}
#sec-2 div{
    width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#sec-2 div h2{
    color: #FFCE6C;
    font-size: 1rem;
    padding-bottom: 15px;
}
#sec-2 div p{
    color: #fff;
    font-size: 0.6rem;
}

/* Section 3*/
#sec-3 header{
    background-color: #FDC401;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#sec3 header h2{
    color: #fff;
}
#head{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 500;
}
#sec-3 article{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}
#sec-3 article div{
    position: relative;
    background-color: #000;
    margin-bottom: 20px;
}
#sec-3 img{
    width: 100%;
    height: auto;
}
.button1{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: RGBA(0,0,0,0.4);
    color: RGBA(255,255,255,0.7);
    border-radius: 5px;
    border-style: none;
    font-size: 0.6rem;
    padding: 8px;
}
#sec-3 article h4{
    color: #FDC401;
    padding-left: 10px;
}
#sec-3 article p{
    color: RGBA(255,255,255,0.7);
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* Section 4*/
#sec-4{
    background-color: #000;
}
#sec-4 div:nth-child(1){
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
#sec-4 h3{
    color: #FDC401;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#sec-4 img{
    width: 49%;
    height: auto;
    padding: 2%;
}

/* Section 5*/
#sec-5{
    background-color: #FDC401;
    text-align: center;
}
#sec-5>div{
    padding-bottom: 20px;
}
#sec-5 h6{
    color: #fff;
    padding-top: 20px;
}
#sec-5 h2{
    color: #fff;
    padding-top: 20px;
}
.button2{
    color: #232323;
    width: 20%;
    border-radius: 25px;
    border-style: none;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}

/* Section 6*/
#sec-6{
    background-color: #000;
}
#sec-6div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding-bottom: 20px;
}
#sec-6 header{
    text-align: left;
    padding-top: 20px;
}
#sec-6 header h2{
    font-weight: 300;
    padding-bottom: 15px;
}
#sec-6 header p{
    font-size: 0.8rem;
    padding-bottom: 15px;
}
#sec-6 article img{
    width: 100%;
    height: auto;
}
.achiev{
    width: 48%;
    padding: 3%;
    display: inline-block;
}
.achiev h2{
    font-size: 2.3rem;
    font-weight: 300;
    padding-bottom: 15px;
}
.achiev h4{
    color: #fff;
    font-size: 0.7rem;
    font-weight: 300;
}
.achiev p{
    font-size: 0.7rem;
    font-weight: 300;
}

/* Section 7*/
#sec-7{
    background: url('../images/contactus.jpg') no-repeat;
}
#sec-7 div:nth-child(1){
    width: 100%;
    background-color: RGB(42,174,255,0.1);
}
#cont{
    width: 90%;
    padding-bottom: 30px;
}
#sec-7 article{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px
}
#sec-7 article h2{
    color: #FDC401;
    font-size: 2rem;
    font-weight: 400;
}
#sec-7 article p{
    color: #fff;
    font-size: 0.7rem;
    font-weight: 300;
    padding-top: 10px;
}
#form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid RGBA(255,255,255,0.0);
    color: RGBA(255,255,255,0.7);
    box-shadow: 5px 5px 10px #FDC401, -5px -5px 10px #FDC401;
    border-radius: 10px;
}
.formate{
    padding: 8px 5px 8px 5px;
    margin-bottom: 8px;
}
#button3{
    padding: 8px 5px 8px 5px;
    background-color: #FDC401;
    border-style: none;
}

/* Section 8*/
#sec-8{
    background-color: #000;
    color: #fff;
}
#foot{
    padding-top: 20px;
}
#sec-8 article div{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-bottom: 20px;
}
#sec-8 article div h6{
    padding-bottom: 5px;
    font-size: 0.8rem;
}
.fab{
    color: #fff;
    padding-right: 8px;
}
.formate1{
    background-color: #000;
    border-style: none;
    border-bottom: thin solid #fff;
}
#button4{
    color: #232323;
    border-radius: 25px;
    border-style: none;
    margin-top: 20px;
    padding:10px 15px 10px 15px;
    font-weight: 400;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    .container {
        width: 530px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .container {
        width: 100%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
    .container {
        width: 100%;
    }
    #banner{
        background: url('../images/banner.jpg') no-repeat;
        background-size: 100%;
        height: 500px;
    }
    #banner article{
        margin-left: 50px;
        padding-top: 150px;
    }
    .button{
        width: 30%;
    }
    #sec-3 article{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    #sec-3 article div{
        width: 25%;
        position: relative;
        background-color: #000;
        margin-bottom: 20px;
    }
    #head{
        text-align: left;
        padding-left: 8.5%;
    }
    #arrive{
        display: flex;
        flex-wrap: wrap;
        padding-left: 10%;
        padding-bottom: 30px;
    }
    #sec-4 img{
        width: 22%;
        height: auto;
        padding: 5px;
    }
    #sec-5>div{
        display: flex;
        justify-content: space-evenly;
        width: 75%;
    }
    #sec-5>div>div{
        text-align: left;
    }
    .button2{
        width: 15%;
        height: 35px;
        margin-top: 35px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #sec-6 article{
        display: flex;
        padding-bottom: 30px;
    }
    #sec-6 article img{
        width: 40%;
        height: auto;
    }
    .achiev{
        width: 48%;
        padding: 3%;
        display: inline-block;
    }
    #cont{
        display: flex;
    }
    #sec-7 article{
        width: 45%;
        padding-left: 30px;
        padding-top: 30px;
    }
    #form{
        width: 30%;
    }
    #foot article{
        display: flex;
        justify-content: space-around;
    }
    #sec-8 article div{
        width: 10%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .container {
        width: 100%;
    }
}